{% extends "main.html" %}
{% load custom_filters %}
{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>

{% if is_not_authors %}
<button> <a href="sign/upgrade/"> Стать автором!</a> </button>
{% endif %}
    <hr>
    {% if comment_filter %}
        <table>
            <tr>
                <td>
                    Пост
                </td>
                <td>
                    Краткое содержание коммента
                </td>
                <td>
                    Действия
                </td>
                <td>
                    Комментарий принят?
                </td>
            </tr>
         {% for onecomment in comment_filter %}
            <tr>
                <td>
                        {{ onecomment.post.title }}
                </td>
                <td>
                        {{ onecomment.text }}
                </td>
                 <td>
                     <a href="{% url 'comment_delete' onecomment.id %}"><u> Удалить </u></a>
                </td>
                <td>
                    {% if onecomment.accepted == True %}
                        yes
                    {% elif onecomment.accepted == False  %}
                        no
                    <form action="{% url 'accept' onecomment.id %}" method="POST">
                    {% csrf_token%}
                    <button type="submit" value="{{ comment }}">Принять</button>
                    </form>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
        </table>

    {% else %}
        <h2>Комментариев нет!</h2>
    {% endif %}

{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}

    {% endfor %}
{% endif %}
{% endblock %}