{% extends 'flatpages/layout.html' %}
{% load custom_filters %}
{% load static %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, айди которого было передано в адрес -->
{% block content %}
    <hr>
        <table>
            <tr>
                <td>
                    Cодержание
                </td>
                <td>
                    Пост
                </td>
            </tr>
            <tr>
                <td>
                   <!-- {{ onenews.text|censor }} -->
                    {{ onecomment.text }}
                </td>
                <td>
                   <!-- {{ onenews.text|censor }} -->
                    {{ onecomment.post }}
                </td>
            <tr/>

        </table>
{% endblock content %}