{% extends 'flatpages/layout.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <hr>
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Cодержание
                </td>
            </tr>
            <tr>
                <td>
                    {{ onenews.title|censor }}
                </td>
                <td>
                    {{ onenews.time|date:'d-M-Y H:m' }}
                </td>
                <td>

                  {{ onenews.text|censor|safe}}
                </td>
            <tr/>

            <a href="{% url 'comment_create' %}">Комментировать</a>

            </tr>
        </table>
{% endblock content %}