{% extends 'flatpages/layout.html' %}
{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, айди которого было передано в адрес -->
{% block content %}
    <hr>
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Cодержание
                </td>
            </tr>
            <tr>
                <td>
                    {{ onenews.title|censor }}
                </td>
                <td>
                    {{ onenews.time|date:'d-M-Y H:m' }}
                </td>
                <td>
                    {{ onenews.text|censor }}
                </td>
                <td>
                    {{ onenews.category }}
                </td>
                <td>
                {% for category in onenews.category.all %}
                        {{ category.name }}<br>
                {% endfor %}
                </td>
                    <td>
                    {% for category in onenews.category.all %}
                    <form action="{% url 'subscribe' category.pk %}" method="POST">
                    {% csrf_token%}
                    <button type="submit" value="{{ category }}">Подписаться на категорию</button>
                    </form>
                    {% endfor %}
                    </td>
            </tr>
        </table>
{% endblock content %}