<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{% endblock %}Djangochat</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>

    <body>
        <nav class="navbar is-dark is-purple pt-4 pb-4">
            <div class="navbar-brand">
                <a href="/" class="navbar-item is-size-4">Djangochat</a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
{% if request.user.is_authenticated %}
    <div class="navbar-item">
        <a href="/logout/" class="button">Log out</a>
    </div>
{% else %}
    <a href="/login/" class="navbar-item">Log in</a>

    <div class="navbar-item">
        <a href="/signup/" class="button"><strong>Sign up</strong></a>
    </div>
{% endif %}

                    <div class="navbar-item">
                        <a href="/signup/" class="button"><strong>Sign up</strong></a>
                    </div>
                </div>
            </div>
        </nav>
    {% block content %}
{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
<style>
    body {
        background: #9c88ff;
    }

    .navbar.is-purple {
        background: #8c7ae6;
    }

    .navbar .button {
        border-color: #9c88ff;
        background: #9c88ff;
        color: #fff;
    }
    .messages {
    height: 400px;
    overflow-y: auto;
    }
</style>